@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

@font-face {
    font-family: hangul;
    src: url('../font/NanumBarunGothic.ttf') format('truetype');
    src: url('../font/MiConv.com__NanumBarunGothic.eot');
    src: url('../font/MiConv.com__NanumBarunGothic.woff') format('truetype');
}

*{margin: 0; padding: 0;}
li{list-style: none;}
a{text-decoration: none; display: block; font-family: 'Noto Sans KR', sans-serif; color: #222;}
body{font-family:'Noto Sans KR', sans-serif;}
header,section,footer{width: 100%; float: left;}
header,section,footer,div,ul,li{box-sizing: border-box;}
img{width:100%;}
.logo{width: 30vw; ;}
header{display: flex; justify-content: space-between; height: 80px; background-color: rgba(255, 255, 255, 0.5); flex-flow: nowrap; padding: 15px 20px;  width: 100vw;z-index: 1190; position: absolute; }
h1{font-family: hangul;}
header .menu{display: flex; justify-content: space-around; z-index: 190;}
header .menu .ask{margin-right: 20px;}
header .menu .ask a{padding: 10px 20px ; color: #fff; border-radius: 30px; border: 1px solid #fff; font-size: 15px;}
header .menu .menu_btn{width: 30px; position: absolute; z-index: 102; right: 15px;}
#fp-nav ul li:last-child{display: none;}
#fp-nav ul li a span{width: 8px; height: 8px; background-color: rgba(212, 216, 203, 0.699);}
#fp-nav ul li a.active span{width: 20px; height: 20px; background-color: white;}
/* 햄버거 메뉴 버튼 */
#nav-icon1{ width: 50px;  height: 15px;  position: relative;  margin: 0px auto; z-index: 300;
    /* 크롬 접두사 */
    -webkit-transform: rotate(0deg);
    /* 파이어폭스 */
    -moz-transform: rotate(0deg);
    /* 오페라 */
    -o-transform: rotate(0deg); 
    transform: rotate(0deg);  transition: .5s ease-in-out;   cursor: pointer;
  }
  #nav-icon1 span{display: block;  position: absolute;  height: 3px;  width: 100%;  background: #ffffff;    border-radius: 9px;   opacity: 1;    left: 0;    transform: rotate(0deg);    transition: .25s ease-in-out; }
  #nav-icon1 span:nth-child(1) {top: 0px;}
  #nav-icon1 span:nth-child(2) {top: 18px;}
  #nav-icon1 span:nth-child(3) {top: 36px;}
  #nav-icon1.open span:nth-child(1) {  top: 18px; transform: rotate(135deg); }  
  #nav-icon1.open span:nth-child(2) { opacity: 0;  left: -60px; }  
  #nav-icon1.open span:nth-child(3) { top: 18px; transform: rotate(-135deg); }

  /* GNB */
  .gnb{position: absolute; top: 0; right: 0; width: 100%; height: 100vh; z-index: 200; background-color: rgb(34, 34, 34); padding: 20px; right: -100%;}
  .gnb .top_menu{width: 100%; float: left; display: flex;}
  .gnb .top_menu .search{display: flex;}
  /* .gnb .top_menu .search .search_input{} */
  .gnb .top_menu .search .search_input input{font-size: 14px; background-color: transparent; border: none; width: 150px; color: #fff;border-radius: 30px; padding: 10px 10px ; background-color: rgba(255, 255, 255, 0.2);}
  .gnb .top_menu .search .search_btn{width: 30px; padding: 4px; margin-left: 7px; margin-top: 5px;}
  .gnb .top_menu .lang a{color: white; display: inline; float: left; margin:6px; margin-top: 13px; }
  .gnb nav{width: 100%; margin-top:65px; border-top: 1px solid #444; z-index: 300;}
  .gnb nav ul li{border-bottom: 1px solid #444;}
  .gnb nav ul li a{color: white; text-align: center; font-size: 20px; line-height: 70px;}
  .gnb nav ul li ul{ background-color: rgba(102, 109, 119, 0.63); display: none; }
  .gnb nav ul li ul li{height: 55px;}
  .gnb nav ul li ul li a{line-height: 55px; font-size: 15px;}


  /* sec1 */
  .swiper{height: 100vh;}
  .s1 .swiper-slide {background-position: center; background-repeat: no-repeat; background-size: cover;}
  .s1 .main1{background-image: url(../img/BNER1.png);}
  .s1 .main2{background-image: url(../img/BNER2.png);}
  .s1 .main3{background-image: url(../img/BNER3.png);}
  .s1 .swiper-pagination-bullet{width: 30px; height: 6px; background-color: rgb(139, 132, 132); border-radius: 0; margin: 0 7px !important; border: 1px solid rgba(255, 255, 255, 1.0);}
  .s1 .swiper-pagination-bullet-active{border: 1px solid #fff; background-color: transparent;}
  
/* s2 */
.s2{background-image: url(../img/G1.png);background-size: cover; background-position: center; background-repeat: no-repeat; padding: 0vh 5vw;}
.s2 button{border: 1px solid #fff; font-size: 3vw; padding: 1vw; display:block; background-color: transparent; color: #fff; font-weight: bold;  } 
.s2 h2{font-size: 7vw; margin-top: 4vh; color: #f2f2f2;text-shadow: 1px 1px 1px #111;}
.s2 p{ color: #fff; font-size: 3.4vw; margin-top: 4vw; width: 50vw ; line-height: 5vw;text-shadow: 1px 1px 1px #111;}
.s2 .addNumber span{color: #fff; font-size: 10vw;text-shadow: 1px 1px 1px #111;}
.s2 .addNumber p{display: inline;}


/* s3 */
.s3{background-image: url(../img/G2.png);background-size: cover; background-position: center; background-repeat: no-repeat; padding: 0vh 5vw;}
.s3 button{border: 1px solid #fff; font-size: 3vw; padding: 1vw; display:block; background-color: transparent; color: #fff; font-weight: bold; margin-top: 6vh; } 
.s3 i{color: #fff; margin-top: 7vh;display: block;} 
.s3 h2{font-size: 7vw; margin-top: 0vh; color: #f2f2f2;text-shadow: 1px 1px 1px #111;}
.s3 button{ color: #fff; font-size: 3.4vw; margin-bottom: 21vh; width: 50vw ; line-height: 5vw;text-shadow: 1px 1px 1px #111; display: block;}
.s3 .s3_bg{width: 100vw; height: 50vh; background-color: rgba(17, 17, 17, 0.37);  position: absolute; bottom: 0; left: 0; padding: 7vw;}
.s3 .s3_bg .s3_since{padding-top: 220px;}
.s3 .s3_bg .s3_since span{display: block; width:50%; float: left; text-align: center; color: #fff; font-size: 4vh;}

/* S4 */
.s4{background-image: url(../img/G3.png);background-size: cover; background-position: center; background-repeat: no-repeat; padding: 0vh 7vw; text-align: center;}
.s4 .line{width: 1px ; height: 30px; background-color: #fff; margin: 0 auto;}
.s4 h2{color: #f2f2f2; font-size: 7vw; margin-top: 2vh;}
.s4 h4{font-size: 4vw; color: #888; margin-top: 2vh; line-height: 5vh;}
.s4 .s4_bx{width: 100%; display: flex; margin-top: 5vh;}
.s4 .s4_bx >div{width: 50%; padding: 2vh 8vw; }
.s4 .s4_bx div a {position: relative; width: 120px; height: 90px; display: block; }
.s4 .s4_bx .s4_lbx{border-right:1.5px solid rgba(255, 255, 255, 1);}
.s4 .s4_bx img{width: 120px; height: 120px; }
/* .s4 .s4_bx .s4_rbx img{;} */
.s4 .s4_bx p{color:#fff; font-size: 3vw; white-space: nowrap; text-align: center; font-weight: bold;margin-top: 30px;} 
.s4 .s4_bx  div div {width: 109px; height: 96px; position: absolute; transition: 0.5s; opacity: 0;}
.s4 .s4_bx .s4_lbx .s4_left_ani{ top: -40px;opacity: 0;}
.s4 .s4_bx .s4_lbx .s4_left_ani.active{ top: 0;opacity: 1;}
.s4 .s4_bx .s4_rbx .s4_right_ani{ left: 40vh;opacity: 0;}
.s4 .s4_bx .s4_rbx .s4_right_ani.active{ left: 0;opacity: 1;}

/* S5 */
.s5{background-image: url(../img/G4.png);background-size: cover; background-position: center; background-repeat: no-repeat; padding: 0vh 5vw;}
.s5 h2{color: #f2f2f2; font-size: 7vw; margin-top: 2vh;}
.s5 ol{margin-top: 12vh;}
.s5 ol li{color: #f2f2f2; font-size: 5vw; margin: 4vh 0;}

/* S6 */
.s6{background-image: url(../img/21630753_g.jpg);background-size: cover; background-position: bottom; background-repeat: no-repeat; padding: 0vh 5vw;}
.s6 h2{color: #f2f2f2; font-size: 7vw; margin-top: 2vh; text-align: center; margin-bottom: 70px;}
.s6 .main_s6 ul{display: grid; grid-template-columns: 1fr 1fr 1fr ; grid-template-rows: 1fr 1fr 1fr; gap: 10px; margin-top: 40px; margin-right: 30px;}
.s6 .sub_s6 ul{width: 200px; margin: 0 auto; margin-top: 20px;}
.s6 .sub_s6 ul li img{width: 40px; float: left ;margin: 5px;}

/* s7 */
/* .s7{background-image: url(../img/g);} */
.s7 .s7_main{background-image: url(../img/G7-1.png);background-size: cover; background-position: center; background-repeat: no-repeat; padding: 0vh 5vw; width: 100%; height: 50%;float: left;}
.s7 .s7_event{background-image: url(../img/G6.png);background-size: cover; background-position: center; background-repeat: no-repeat; padding: 0vh 5vw;width: 50%; height: 50%;float: left}
.s7 .s7_franc{background-image: url(../img/G7-3.png);background-size: cover; background-position: center; background-repeat: no-repeat; padding: 0vh 5vw;width: 50%; height: 50%;float: left}
.s7 h2{color: #f2f2f2; font-size: 7vw; margin-top: 2vh; text-align: center; margin-top: 80px; margin-bottom: 80px;}
.s7 h3{color: #f2f2f2; font-size: 5vw;}
.s7 .s7_event p{margin-top: 15vh; color: wheat; border: 1px solid rgb(238, 229, 213); display: inline-block; width: 100px; height: 30px; text-align: center; line-height: 2;}
.s7 .s7_franc p{margin-top: 15vh; color: wheat; border: 1px solid rgb(240, 232, 217); display: inline-block; width: 100px; height: 30px; text-align: center; line-height: 2;}
.s7 div img{width: 40px; margin-top: 50px;}
.s7 .s7_event h3{margin-top: 27px;}
.s7 .s7_event h3 span{font-size: 4vw; font-weight: normal; margin-left: 5px;}
.s7 .s7_franc h3{margin-top: 27px;}
.s7 div a{text-align: center;}

/*footer */
.fp-auto-height{background-color: #444;}
.fp-auto-height ul li{float: left; margin: 10px; color: white; }
.fp-auto-height h2 {color: white; margin-top: 40px; display: block; text-align: center; margin-bottom: 30px;}
.fp-auto-height p{color: white; margin-top: 5px;}